<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index:: head">
</head>
<body>
	<!--  <main th:replace="index :: main"></main>-->

    <div class="container  py-4">
    <div class="card bg-danger text-white">
    <div class="card-header">Error: Acceso Denegado</div>
    <div class="card-body">
    <h5 class="card-title"> Lo sentimos  <span th:text="${#httpServletRequest.remoteUser}">No tienes permiso para esta opcion.</span></h5>
    <a th:href="@{/index}" class="btn btn-success "
						 role="button" >Ir al inicio</a>
    </div>
    </div>
    </div>
    

	 <footer th:replace="index :: footer"></footer>

</body>
</html>
